
.page {
  float: left;
  width: 980px;
  margin-top: 40px;
  list-style-type: none;
}

.page li {
  float:left; 
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ddd;
}

.page a {
  width: 35px;
  height: 35px;
  color: black;
  text-decoration: none;
}

.page1 { margin-left: 850px; }

.page2 { margin-left: 8px; }
